<div style="font-family:fantasy;" class="text-center flex-column">
    <br>
    <br>
    <h3 style="font-size: 50px;">Welcome Admin
    </h3>
    <br>
    <br>
    <br>
    <br>
    <h3>Settle Transactions</h3>
    <!--<input type="submit" value="Settle Transactions"  (click)="settleTransactions()">-->
    <button (click)="settleTransactions()" class="btn btn-success set-button">Settle Transactions</button><br>
    <br>

    <br>
    <br>
    <br>
    <div style="font-family:fantasy;" class="text-center">
        <h3>Issue Tokens</h3>

        <button (click)="gotoIssueTokens()" class="btn btn-success set-button">Issue Tokens</button>
        <br>
        <br>
    </div>