<app-navbar></app-navbar>
<div class="container">
  <h1>Profile Details</h1>
</div>
<div class="container border bg-light py-3 my-3"> 
  <div class="row">
    <h3>User : {{username}}</h3>
  </div>
<div class="container border bg-light py-3 my-3"> 
  <div class="row">
    <h3>Address : {{publicKey}}</h3>
  </div>
  <hr>
  <div class="row">
    <h3>Balance : {{balance}}</h3>
  </div>
  <hr>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4>Http Port : {{httpPort}}</h4>
    </div>
    <div class="col-md-6">
      <h4>P2P Port : {{p2pPort}}</h4>
    </div>
  </div>
  
</div>



<!-- <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>{{balance}}</h3>
      </diYv>
    </div>
  </div> -->